/.idea
/binary_images
/contrast_images
/grayscale_images
*.tr
/__pycache__
contrast_images/G.png
grayscale_images/G.png
*.tr
application.log
wins_screen_*
/tesseract/data
/tesseract
/data
/bazaarai/data
/bazaarai/item_images
bazaarai/item_classifier.pth
src/screenshot.png
